<div class="hrms-sidebar-search shrink-0 px-3 pb-3">
  <div class="relative">
    <i data-lucide="search" class="pointer-events-none absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-white/40"></i>
    <input type="search"
           id="hrms-sidebar-search-input"
           class="hrms-sidebar-search__input w-full"
           placeholder="Search…"
           autocomplete="off"
           aria-label="Search navigation">
    <kbd class="hrms-sidebar-search__kbd pointer-events-none absolute right-2 top-1/2 hidden -translate-y-1/2 sm:inline-flex">⌘K</kbd>
  </div>
  <div id="hrms-sidebar-search-results" class="hrms-sidebar-search__results hidden" role="listbox"></div>
</div>
